// Variablen
$header-bg: #ffffff;
$primary-color: #3f51b5;
$text-main: #2c3e50;
$text-muted: #7f8c8d;
$shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
$header-height: 70px;

.main-header {
  height: $header-height;
  background-color: $header-bg;
  box-shadow: $shadow;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%; 

  z-index: 1000;
  padding: 0 24px;
  box-sizing: border-box; 

  .header-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.logo-section {
  display: flex;
  align-items: center;
  gap: 12px;

  .logo-icon {
    background-color: black;
    color: $primary-color;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    mat-icon {
      font-size: 24px;
    }
  }

  .logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      margin: 0;
      font-size: 1.25rem;
      font-weight: 700;
      color: $text-main;
      line-height: 1;
    }

    span {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 0.75rem;
      color: $text-muted;
    }
  }
}

.actions-section {
 
  display: flex;
  align-items: center;
  gap: 12px; // ← DAS ist der Abstand
}


.profile-btn, .login-btn {
  
  color: $text-muted;
  transition: color 0.2s ease;

  &:hover {
    color: $primary-color;
  }

  mat-icon {
    font-size: 32px;
    width: 32px;
    height: 32px;
  }
}

// Mobile View
@media (max-width: 600px) {
  .main-header {
    padding: 0 16px;

    .logo-text span {
      display: none; // Untertitel auf Handy ausblenden für mehr Platz
    }
  }
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-text {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  color: white;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
