
$primary-color: #3f51b5;

.btn-back {
    position: fixed;
    padding: 20px 0 0 20px;
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      color: $primary-color;
      font-weight: 500;
      gap: 8px;
      margin-bottom: 16px;
      transition: transform 0.2s ease;

      &:hover {
        transform: translateX(-5px);
      }

      mat-icon {
        font-size: 20px;
        width: 20px;
        height: 20px;
      }}