<footer class="main-footer">
  <div class="footer-content">
    <div class="footer-left">
      <p>&copy; 2025 RappelPro</p>
    </div>
    
    <div class="footer-right">
      <nav class="footer-links">
        <a routerLink="/impressum">Mentions légales</a>
        <a routerLink="/datenschutz">Politique de confidentialité</a>
      </nav>
     <button mat-icon-button class="logout-btn" matTooltip="Logout" aria-label="Logout">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
</footer>